[Unit]
Description=AAM PostgreSQL
After=network-online.target

[Container]
Image=docker.io/library/postgres:16
Environment=POSTGRES_DB=aam
Environment=POSTGRES_USER=aam
Environment=POSTGRES_PASSWORD=aam
PublishPort=5432:5432
Volume=aam-postgres.volume:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=default.target
